body {
    text-align: center;
    font-family: sans-serif;
}

.colore {
    color: #d10f8d;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.columnImg {

    width: 100px;
    float: left;
    
}

.col {
    float: left;
    width: calc(100% / 4);
    padding: 10px;
    
}

.clearfix ::after {
    
    
    content: "";
	clear: both;
	display: table;
    display: inline;
    

}

.scritte {
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
    

}

